:root {
	--color-secondary-color: #0084fd;
	--color-dark-color: #333333;
	--color-light-color: #ffffff;
	--color-primary-color: #9792e4;
	--color-bg-card: #b5ddff;
	--color-contrast-color: #fcc060;
	--color-text: #424242;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-light-color);
    color: var(--color-text);
}
.debug{
    border: 1px solid black;
}
img{
    display: block;
    width: 100%;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 1.4em;
}
h4{
    font-size: 1.5em;
}
p{
    line-height: 1.7;
}
/* contenitori */
.container{
    padding: 20px;
}
.col{
    padding: 10px;
}
.card{
    height: 100%;
}
/* utility */
/* flex */

.justify-center{
    display: flex;
    justify-content: center;
}
/* bottoni */
.btn{
    padding: 6px 15px;
    display: inline-block;
    text-decoration: none;
    color: var(--color-light-color);
    background-color: var(--color-primary-color);
    border-radius: 15px;
}
.btn-primary{
    background-color: var(--color-primary-color);
}
.btn-secondary{
    background-color: var(--color-secondary-color);
}
.btn-light{
    background-color: var(--color-light-color);
}
/* sfondi */
.bg-light{
    background-color: var(--color-light-color);
}
.bg-card{
    background-color: var(--color-bg-card);
}
.bg-primary{
    background-color: var(--color-primary-color);
}

/* bordi */
.small-border-rounded{
    border-radius: 20px;
}
.big-border-rounded{
    border-radius: 50px;
}
.circle{
    border-radius: 50%;
}

/* padding */
.px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.px-30{
    padding-left: 30px;
    padding-right: 30px;
}
.px-50{
    padding-left: 50px;
    padding-right: 50px;
}

/* testo */
.text-primary{
    color: var(--color-primary-color);
}
.text-secondary{
    color: var(--color-secondary-color);
}
.text-light{
    color: var(--color-light-color);
}
.text-dark{
    color: var(--color-dark-color);
}
.text-grey{
    color: silver;
}
.text-contrast{
    color: var(--color-contrast-color);
}
.text-center{
    text-align: center;
}
.font-weight-bold{
    font-weight: bold;
}
.font-size-big{
    font-size: 1.2em;
}
/* .line-height{
    line-height: 2;
} */

/* header */
header{
    background-color: var(--color-secondary-color);
    color: var(--color-light-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}
#logo{
    width: 100px;
}
.nav-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
nav ul{
    display: none;
}
.fa-solid.fa-bars{
    font-size: 1.5em;
}
.topnav{
    position: relative;
}
.topnav:hover{
    cursor: pointer;
}
.topnav:hover + .submenu{
    display: block;
}
.submenu{
    display: none;
	position: absolute;
	right: 0;
	top: 100%;
	background-color: var(--color-dark-color);
	width: 100%;
}
.submenu a{
    display: block;
    text-decoration: none;
    color: var(--color-light-color);
    padding: 20px;
}
/* main */
main{
    padding-top: 90px;
}
section:first-child{
    padding-top: 40px;
}
.card-image{
    position: relative;
    top: 30px;
}
.icon{
    font-size: 6em;
    color: var(--color-secondary-color);
    margin-bottom: 10px;
}
#intro p{
    font-weight: bold;
}
#intro .btn{
    width: 80%;
    text-align: center;
    padding: 12px 0px;
    border-radius: 30px;
    font-weight: bold;
}
.fa-brands.fa-apple{
    padding-right: 5px;
}
#planning .btn{
    padding: 15px 20px;
}
#planning .icon{
    color: var(--color-text);
    font-size: 1.5em;
    margin: 0;
}
.card-testimonial img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#benefits .btn{
    width: 50%;
    padding: 10px 0;
    border-radius: 50px;
}
.more{
    padding-bottom: 30px;
}
#call-to-action h2{
    font-size: 5em;
}
#call-to-action .btn{
    width: 80%;
    padding: 16px 0;
    border-radius: 60px;
}

/* footer */
footer{
    background-color: var(--color-dark-color);
    color: var(--color-light-color);

}
footer a{
    color: purple;
}

/* media query */

@media screen and (min-width: 576px){
    .d-flex{
        display: flex;
    }
    .flex-wrap{
        flex-wrap: wrap;
    }
    .align-stretch{
        align-items: stretch;
        align-content: stretch;
    }
    #intro .col{
        width: calc(100% / 3);
    }
    #intro .col:first-child{
        width: calc((100% / 3) * 2);
    }
    #testimonials .card{
        padding-left: 0px;
    }
    .align-center{
        align-items: center;
        align-content: center;
    }
    #testimonials .col{
        text-align: left ;
    }
    #benefits .col{
        width: calc(100% / 2);
    }
    .about-us-container{
        padding: 20px;
    }
}
/* @media screen and (min-width: 768px){
    
} */
@media screen and (min-width: 992px){
    nav ul{
        display: flex;
        list-style: none;
    }
    nav a{
        text-decoration: none;
        color: var(--color-light-color);
    }
    nav li{
        padding: 7px 10px;
    }
    nav li:last-child{
        padding: 0 10px;
    }
    nav .btn{
        background-color: var(--color-light-color);
        color: var(--color-text);
    }
    nav .fa-solid.fa-bars{
        display: none;
    }
}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }
    #intro .col:first-child .card{
        display: flex;
    }
    .d-flex1200{
        display:flex;
    }
    .align-end1200{
        align-items: end;
        align-content: end;
    }
    .sb-1200{
        justify-content: space-between;
    }
    .planning-container-white{
        width: 50%;
    }
    .planning-container{
        width: 100%;
        padding-right: 90px;
    }
    #benefits .col{
        width: calc(100% / 3);
    }
    .container-1200{
        max-width: 500px;
    }
    .about-us-container-1200{
        max-width: 700px;
    }
    #about-us .col{
        width: calc(100% - 800px);
    }
    #intro .card-content{
        width: 100%;
    }
}